.option {
  display: table;
  margin: 0.75em auto;
  width: 100%;
}

.no-overflow {
  overflow: hidden;
}

.option label {
  display: table-cell;
  width: 6em;
}

.option .float-right {
  float: right;
  margin-left: 0.5em;
}

input[type="text"],
select {
  display: table-cell;
  width: 100%;
}

#status {
  opacity: 0;
}

.success {
  color: green;
}

.failure {
  color: red;
}

.fade-out {
  transition: opacity 2.5s;
}

#status {
  padding-left: 1em;
}
