body {
  white-space: nowrap;
}

#add,
#domain {
  float: right;
  margin-left: 0.5em;
}

.controls {
  display: table;
  margin: 0.75em auto;
  width: 100%;
}

.controls input {
  display: table-cell;
}

#alias,
#forwards {
  width: 100%;
}

.no-overflow {
  overflow: hidden;
}

button {
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 0.5em 0.75em;
  min-width: 1.25em;
  text-align: center;
}

table thead {
  background-color: rgba(0, 0, 50, 0.04);
}

table tbody tr {
  border-style: solid;
  border-width: 1px 0 0 0;
}

table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 50, 0.025);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

td div {
  position: relative;
}

.spinner:before {
  animation: spinner 0.75s linear infinite;
  border: 1.5px solid #ccc;
  border-radius: 50%;
  border-top-color: #333;
  box-sizing: border-box;
  content: "";
  height: 1.25em;
  margin-top: -0.625em;
  margin-left: -0.625em;
  position: absolute;
  width: 1.25em;
}

#status {
  padding-left: 1em;
}

.remove-button {
  cursor: pointer;
  color: #333;
}

.remove-button:hover {
  color: #777;
}
