body {
  white-space: nowrap;
}

#add,
#domain {
  float: right;
  margin-left: 0.5em;
}

.controls {
  display: table;
  margin: 0.75em auto;
  width: 100%;
}

.controls input {
  display: table-cell;
}

#alias,
#forwards {
  width: 100%;
}

.no-overflow {
  overflow: hidden;
}

button {
  margin: 0;
  padding: 0;
}

table {
  border: 1px solid lightgray;
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  padding: 0.5em 0.75em;
  min-width: 1.25em;
  text-align: center;
}

table thead {
  background-color: rgba(0, 0, 50, 0.04);
}

table tbody tr {
  border-style: solid;
  border-width: 1px 0 0 0;
}

table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 50, 0.025);
}

.remove-button {
  min-width: 0 !important;
}

.insensitive {
  opacity: 0.25;
}

select:disabled,
input[type="checkbox"]:disabled,
button:disabled {
  opacity: 1;
}
