#dialog {
  background-color: rgba(white, 0.95);
  height: 100%;
  left: 0;
  padding-top: 25%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: 150ms opacity;
  visibility: hidden;
  width: 100%;
  z-index: 1;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .message {
    margin: 2em 0;
  }

  .message,
  .button-group {
    display: block;
    text-align: center;
  }

  button {
    margin: 0 0.25em;
  }
}
